body{
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

h1, h2, .link{font-family: 'Montserrat', sans-serif; font-size: 100;}
h2{color: #A0A0A0}

header{
    background: url('https://images.unsplash.com/photo-1500964757637-c85e8a162699?q=80&w=3006&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center;
    background-size: cover;
    height: 500px;
    padding: 1px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.container{
  width:350px;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 2px solid #eee;
}

header .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color:#fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.link{
  margin-bottom: 20px;
  background-color:rgba(0, 213, 89, 0.2);
  padding: 0 10px 0 0;
  text-decoration: none;
  font-size: 20px;
}

.link:hover{
  background-color: #008e2b;
}

@media(min-width: 576px) {
  .container {
    width: 500px;
  }
}

@media(min-width: 768px) {
  .container {
    width: 600px;
  }
}

@media(min-width: 992px) {
  .container {
    width: 700px;
  }
}


@media(min-width: 1200px) {
  .container {
    width: 900px;
  }
}
